body {
    background-image: url(../images/cart-background-image.jpg);
    background-repeat: no-repeat;
    background-size: 405px;
    background-position-x: center;
    font-family: "NanumBarunGothicYetHangul";
    width: 100vw; /*화면 크기에 맞춰서 알아서 꽉 채워라 100%이 최대 */
    /* width: 1000px;px로 하면은 컴퓨터마다 화면이 달라서 힘듦. */
    margin: 0; 
    /* 0은 단위로 안 붙여도 돼. => 아예없애라는 뜻이라서 단위를 붙이는게 의미가 없다. */
    /* 브라우저의 기본설정이 이미 들어가 있어서 css로 없애주는거 */
}

#list-button {
    cursor: pointer;
    background-color: rgb(255, 221, 0);
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 310px;
}

.lists {
    border: solid rgb(216, 208, 208) 1px;
    height: 110px;
    padding-top: 9px;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: -10px;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 350px;
}

.lists:first {
    margin-top: 30px;
}

.drink-image {
    float: left;
    margin-right: 40px;
    margin-left: -5px;
}

.delete-buttons {
    background-color: rgb(255, 255, 255);
    border: outset rgb(154, 150, 150) 1px;
    float: right;
    margin: 10px;
    margin-right: 18px;
}
#total-pay {
    font-family: "NanumBarunGothicYetHangul";
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 221, 0);
    border: none;
    font-size: 15px;
}
#space {
    border: 1px solid black;
    border: none;
    width: 350px;
    height: 53px;
}

.countButtons {
    font-family: "NanumBarunGothicYetHangul";
    height: 25px;
    width: 27px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
