body{
    background-image: url(../images/장바구니\ 배경화면.jpg);
    background-repeat: no-repeat;
    background-size: 400px;
}
#list-button{
    cursor: pointer;
    background-color: #fef28c;
    border: none;
   width: 50px;
   height: 50px;
   position: fixed;
   top: 150px;
   left: 270px;
}