body{
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: 405px;
    background-position-x: center;
}
#list-button{
    cursor: pointer;
    background-color: #fedc00;
    border: none;
   width: 40px;
   height: 40px;
   position: fixed;
   left: 320px;
}