body{
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: 405px;
    background-position-x: center;
}
button{
    border: none;
    width:100px;
    height: 100px;
    cursor: pointer;
    position: fixed;
    font-family: 'NanumBarunGothicYetHangul';
    border-radius: 30%;
}
#cart-button{
    cursor: pointer;
    background-color: #fedc00;
    border: none;
   width: 40px;
   height: 40px;
   position: fixed;
   left: 320px;
}
#americano{
    top: 100px;
    left: 70px;
}
#caramel{
    top: 100px;
    left:220px;
}
#mint{
    top: 280px;
    left:70px;
}
#grape{
    top: 280px;
    left:220px;
}
#mocha{
    top: 460px;
    left: 70px;
}
#remon{
    top: 460px;
    left: 220px;
}