body {
    background-image: url(../images/background-top-bar.jpg);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position-x: center;
    margin-top: 120px;
}
button {
    border: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-family: "NanumBarunGothicYetHangul";
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    background: none;
    position: relative;
    left: 40px;
}
#cart-button {
    cursor: pointer;
    background-color: hsl(52, 100%, 50%);
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 320px;
    top: 5px;
}

#bestIcon {
    cursor: pointer;
    width: 40px;
    height: 43px;
    float: right;
    margin-top: -30px;
    position: absolute;
    right: 0;
}

#drinkList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 80px;
}

.drinks span {
    margin-top: 10px;
}
