<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/list.css">
    <script src="../assets/js/list.js" defer ></script>
   
</head>
<body>
   <button id="cart-button"><img src="../assets/images/cart-icon.png" width="35" height="40" alt=""></button>
   <button id="americano" class="drinks"><img src="../assets/images/Americano.png" width="60" height="95" alt=""> <br><br>아메리카노</button>
   <button id="caramel" class="drinks"><img src="../assets/images/CaramelMacchiato.png" width="60" height="100" alt=""> <br><br>카라멜 마끼아또</button>
   <button id="mint" class="drinks"><img src="../assets/images/MintChocolate Frappe.png" width="60" height="100" alt=""> <br><br>민트초코 프라페</button>
   <button id="grape" class="drinks"><img src="../assets/images/Grapefruit Smoothie.png" width="60" height="100" alt=""> <br><br>자몽 스무디</button>
   <button id="mocha" class="drinks"><img src="../assets/images/CafeMocha.png" width="60" height="100" alt=""> <br><br>카페 모카</button>
   <button id="remon" class="drinks"><img src="../assets/images/LemonAde.png" width="60" height="100" alt=""> <br><br>레몬 에이드</button>
</body>
</html>
