<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/list.css">
</head>
<body>
   <button id="cart-button"><img src="../assets/images/장바구니 아이콘.png" width="35" height="40" alt=""></button>
   <button id="americano"><img src="../assets/images/아메리카노.png" width="50" height="75" alt=""> <br><br>아메리카노</button>
   <button id="caramel"><img src="../assets/images/캬라멜마끼아또.png" width="45" height="75" alt=""> <br>카라멜<br>마끼아또</button>
   <button id="mint"><img src="../assets/images/민트초코프라페.png" width="45" height="75" alt=""> <br>민트초코<br>프라페</button>
   <button id="grape"><img src="../assets/images/자몽플랫치노.png" width="45" height="75" alt=""> <br>자몽<br>플랫치노</button>
   <button id="mocha"><img src="../assets/images/카페모카.png" width="45" height="75" alt=""> <br><br>카페 모카</button>
   <button id="remon"><img src="../assets/images/레몬에이드.png" width="45" height="75" alt=""> <br><br>레몬 에이드</button>
</body>
</html>
