<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/option.css" />
    <script src="../assets/js/option.js" defer></script>
</head>
<body>
    <form id="makeList" >
        <img src="../assets/images/Americano.png" alt="" width="100" height="130" >
        <div>아메리카노</div>
        <span>4500</span>원
        <div>옵션 선택
            <div class="options">
                <input id="hot" type="radio" name="option" value="1">
                <label for="hot" >Hot</label>
                <input id="ice" type="radio" name="option" value="2" >
                <label for="ice" >Ice</label>
            </div>   
        </div>
        <!-- 이렇게 하면 제출 안됨 -->
        <button type="button">장바구니에 담기</button> 
    </form>
</body>
</html>